.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
}

.recipe-card {
  align-items: center;
  background-color: rgb(251, 247, 247);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 80vw;
  min-width: 80vw;
  padding: 2rem 1rem;
}

.recipe-title {
  font-size: 1rem;
  margin: 1rem;
}

.recipe-card-img {
  border-radius: 16%;
  width: 70%;
}

.recipe-detail-thumb {
  display: flex;
  margin: 1rem auto;
  max-width: 60%;
}

iframe {
  display: flex;
  margin: auto;
}

.recommendations-container {
  background-color: rgb(233, 233, 250);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto;
  max-height: 5.5rem;
  max-width: 80%;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0.5rem;
}

.recommendation-card {
  background-color: rgb(248, 244, 244);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  max-height: 1.5rem;
  min-width: 49%;
  text-align: center;
}

.btn-start-recipe {
  bottom: 0;
  position: fixed;
}

.recipe-steps {
  background-color: rgb(242, 242, 251);
  list-style: none;
  padding: 0.5rem;
}

.step {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.step-checkbox {
  margin: 0 0.5rem 0 0;
}

.checked-step {
  text-decoration: line-through solid black;
}
